<div class="course-container text-center w-100">
    <div class="card w-100 text-center">
    <img src="{{course.img}}" class="card-img-top w-100" alt="...">
    <div class="card-body">
        <p class="card-text">{{course.name}}</p>
        <p class="card-text">{{course.price}}</p>
    </div>
</div>
</div>