<h1>Hello World from Handlebars</h1>
{{#each courses}}
<div class="courses-list d-flex d-inline-flex m-2">
    <div class="card" style="width: 18rem;">
        <img src="{{this.img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text" {{this.price}}</p>
        </div>
    </div>
</div>
{{/each}}