<h1 class="text-center text-white mt-4 mb-4">Playlist</h1>
{{#each courses}}
<div class="courses-list d-flex d-inline-flex m-2">
    <div class="card" style="width: 18rem;">
        <a href="/courses/{{this.slug}}">
            <img src="{{this.img}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text" {{this.price}}</p>
        </div>
    </div>
</div>
{{/each}}