<div class="news-section">
    <h1>NEWS</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure eveniet cum facilis vero cupiditate nemo, obcaecati aut voluptas repellat magni facere, animi voluptatibus beatae laboriosam adipisci molestias tenetur quas reprehenderit repellendus labore deserunt? Quis iste commodi officiis possimus laboriosam cum illo alias repellat dolorum blanditiis, neque reiciendis esse? Nihil, expedita.</p>
</div>