<div class="search-group container mt-4 mb-4">
    <div class="input-group">
        <form method="POST">
            <label for="search-input">Keyword</label>
            <select name="time" class="form-control" id="">
                <option value="">how long you will finish learning nodejs</option>
                <option value="1 weeks">1 weeks</option>
                <option value="2 weeks">2 weeks</option>
            </select>
            <input name="q" type="text" class="form-control" id="search-input" placeholder="input your keyword"
                aria-label="" aria-describedby="basic-addon1">
            <button type="sumbit" class="btn btn-primary">Search</button>

        </form>
    </div>
</div>